<div id="main" style="text-align: center;padding-top: 5%; ">
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/3e/Hotels.com_Logo_2023.png" style="width: 30%; ">
  <h1 class="mt-5" style="font-weight: bolder;color:#2596be;" >Hello admin</h1>
  <h1 class="mt-5" style="font-weight: bolder;" >Mange Your Website from this Dashboard</h1>

  <!-- <button type="button" class="btn btn-success m-2" onclick="itemsOne()" >Add New Item</button>
  <button type="button" class="btn btn-danger m-2" onclick="offers()">Add New Offer</button>
  <button type="button" class="btn btn-warning m-2" onclick="orders()">Show All Orders</button> -->
</div>
